[tool.poetry]
name = "l9format"
version = "1.3.2"
license = "MIT"
description = "l9format is a schema declaration targeted at interoperability between network recon tools used at LeakIX"
authors = ["Danny Willems <danny@leakix.net>"]
maintainers = ["Danny Willems <danny@leakix.net>"]
readme = "README.md"
homepage = "https://github.com/leakix/l9format-python"
repository = "https://github.com/leakix/l9format-python"
documentation = "https://github.com/leakix/l9format-python"

[tool.poetry.dependencies]
python = "^3.9"
# Updating to 0.9.0 breaks the support of iso8601.
# The author of serde updated its code to use the stdlib iso8601 support, which
# does not support for instance:
# 2023-10-05T23:30:36.823867784Z
# Bump up to python 3.11 fixes the issue as it seems fixed in the stdlib of 3.11
serde = "^0.8.1"

[tool.poetry.group.dev.dependencies]
black = "^24.10.0"
fire = "^0.7.0"
isort = "^5.12.0"
pip-audit = "^2.7.3"
pytest = "^8.3.4"
ruff = "^0.9.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/leakix/l9format-python/issues"
