[tool.poetry]
name = "l9format"
version = "1.3.1-0"
license = "MIT"
description = "l9format is a schema declaration targeted at interoperability between network recon tools used at LeakIX"
authors = ["Danny Willems <danny@leakix.net>"]
maintainers = ["Danny Willems <danny@leakix.net>"]
readme = "README.md"
homepage = "https://github.com/leakix/l9format-python"
repository = "https://github.com/leakix/l9format-python"
documentation = "https://github.com/leakix/l9format-python"

[tool.poetry.dependencies]
python = "^3.7"
serde = "^0.8.1"

[tool.poetry.dev-dependencies]
pytest = "*"
black = "^21.5b1"
mypy = "*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/leakix/l9format-python/issues"
